.teamSection {
  text-align: center;
  padding: 32px;
}

.teamSection h3 {
  display: inline-block;
  padding-bottom: 8px;
  border-bottom: 4px solid;
}

.teamSection .employees {
  display: flex;
  justify-content: space-around;
  margin-top: 32px;
  flex-wrap: wrap;
}
